.for-bg{
    background-image: url(../image/banner2.jpg);

    height: 80vh;
    background-repeat: no-repeat;
    

}

.for-bg2{
    background-image: url(../image/shop_banner_img1.jpg);
    width: 33%;
    height: 300px;
}
.for-bg3{
    background-image: url(../image/shop_banner_img2.jpg);
    width: 33%;
    height: 300px;
}
.bor-bg5{
    width:350px;  background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 2px;
}